html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}
#app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.cnt {
    width: 100%;
    height: 100%;
    flex: 1;
    position: relative;
    background-color: #fafafa;
}
.cnt .user {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    position: absolute;
    left: 0;  bottom: 0;
    display: flex;
    flex-direction: column-reverse;
}
.cnt .user .mn {
    height: 4.9rem;
    padding: 0.2rem;
    display: flex;
}
.cnt .user .mn .user-img {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-right: 0.5rem;
}
.cnt .user .mn .sticker {
    width: 4.5rem;
}
.cnt .rst-cnt {
    width: 40%;
    height: 4.5rem;
    padding: 0.3rem;
    position: absolute;
    right: 0; bottom: 10px;
    border: 1px solid #e6ebf5;
    border-radius: 6px;
    background-color: #fafafa;
}
.cnt .rst-cnt::before, .cnt .rst-cnt::after {
    content: '';
    position: absolute;
    width: 0;  height: 0;
    border-right: 10px solid transparent;
    border-top: 10px solid #e6ebf5;
    border-left: 10px solid transparent;
    right: 40px;
    bottom: -10px;
}
.cnt .rst-cnt::after {
    border-right: 10px solid transparent;
    border-top: 10px solid #fafafa;
    border-left: 10px solid transparent;
    bottom: -9px;
}
.cnt .rst-cnt .imgList{
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    display: flex;
}
.cnt .rst-cnt .imgList .emojiImg{
    width: 4.5rem;
    margin-right: 0.2rem;
}
.m-mn {
    width: 100%;
    height: 18rem;
    display: flex;
    flex-direction: column;
}
.ipt-cnt {
    width: 100%;
    padding: 0.1rem 0.3rem;
    display: flex;
    align-items: center;
}
.ipt-cnt .ipt {
    border-radius: 4px;
    border: 1px solid #d8dce5;
    box-sizing: border-box;
    color: #5a5e66;
    display: inline-block;
    font-size: 0.25rem;
    height: 2.5rem;
    line-height: 2.5rem;
    outline: none;
    padding: 0 0.2rem;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    flex: 1;
}
.ipt-cnt .label {
    background-color: rgba(64,158,255,.1);
    padding: 1rem;
    margin: 0 0.5rem;
    height: 2.5rem;
    line-height: 0.5rem;
    text-align: center;
    font-size: 1.05rem;
    color: #409eff;
    border-radius: 15px;
    box-sizing: border-box;
    border: 1px solid rgba(64,158,255,.2);
    white-space: nowrap;
    text-decoration: none;
}
.m-mn .ul-ctn {
    height: 15.3rem;
    overflow: scroll;
    font-size: 27px;
    padding: 0 0.4rem;
    margin: 0.1rem 0.4rem;
    border-radius: 15px;
    box-sizing: border-box;
    border: 1px solid #e6ebf5;
    background-color: #fafafa;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    transition: opacity .3s,transform .3s,left .3s,right .3s,top .4s,bottom .3s;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.m-mn .ul-ctn .icon {
    width: 28px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}