<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <link href="./lib/emoji.css" rel="stylesheet" type="text/css">
    <link href="./index.css" rel="stylesheet" type="text/css">
    <script src="./lib/vue.js"></script>
    <script src="./lib/emoji.js"></script>
    <script src="./lib/axios.js"></script>
<body>
    <div id="app">
        <img class="logo" src="./img/logo.jpg"/>
        <div class="ctn">
            <div class="ipt-cnt">
                <input class="ipt" v-model="chosenEmoji">
                <div class="ul-ctn">
                    <div class="icon"
                         v-for="(value, key) in EMOJI_MAP"
                         :value="value[0]"
                         :desc="value[1]"
                         @click="choseEmoji(key, value[1])">
                        {{key}}
                    </div>
                </div>
            </div>
            <div class="rst-cnt">
                <span class="label">搜索到的表情包</span>
                <div class="imgList">
                    <img src="./img/loading.gif" v-show="loading" class="loading"/>
                    <img :src="item" v-for="item in resultImgList" class="emojiImg" :width="imgWidth" :height="imgWidth" />
                </div>
            </div>
        </div>
    </div>

</body>
    <script src="./index.js"></script>
</html>